################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OCRDemoApplication/bin
/packages
/OCRDemoApplication/obj
